Package: pair-exchange-fs
Priority: optional
Section: misc
Installed-Size: 76
Maintainer: Andras Hrubak <andreas@uucp.hu>
Architecture: all
Version: 0.0.4
Depends: autofs
Recommends: 
Suggests: 
Provides: 
Replaces: 
Conflicts: yazzy-exchange, yazzy-utils (<< 0.2.0)
Homepage: 
Source: 
Description: Mount directories via Autofs each accessible only by a pair of users but fully for them
